*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.spin{
  animation: spin 15s linear infinite;
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.blob {
  animation: moov 10s infinite linear forwards;
  transition: all 2s;
}

@keyframes moov {

  0%,
  100% {
      border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }

  30% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }

  60% {

      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }

  80% {
      border-radius: 60% 31% 60% 34% / 21% 30% 70% 79%;
  }
}

.pro:hover .pro1{
  transform: translateY(-50%) translateX(-70%) rotate(360deg);
}

.pro:hover .pro2{
  transform: translateY(120%) translateX(25%) rotate(360deg);
}

.pro:hover .pro3{
  transform: translateY(-70%) translateX(50%) rotate(360deg);
}

.line{
  animation: line 13s linear infinite;
}

@keyframes line {
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(100%);
  }
}